body {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  word-wrap: break-word;
  color: #333333;
  background: #f2f2f2;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

h2 {
  margin: 0;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

h3 {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.main-header {
  position: relative;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  width: 18%;
}

.navigation-point a {
  display: block;
  padding: 15px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.main-navigation li:nth-child(4n-3) {
  margin-left: 6%;
}

.main-navigation li:nth-child(4n-2) {
  margin-right: 8%;
}

.main-navigation li:nth-child(4n) {
  margin-right: 6%;
}

.main-navigation li:nth-child(4n-3),
.main-navigation li:nth-child(4n-2) {
  padding-right: 2%;
  text-align: left;

}

.main-navigation li:nth-child(4n-1),
.main-navigation li:nth-child(4n) {
  padding-left: 2%;
  text-align: right;
}

.navigation-point a:hover {
  color: #81b3d2;
}

.navigation-point a:active {
  color: #000000;
  opacity: 0.3;
}

.main-navigation .active {
  color: #766357;
}

.main-navigation .active:hover {
  color: #604e43;
}

.main-navigation .active:active {
  opacity: 0.3;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;
  width: 138px;
  height: 70px;
  margin-left: -69px;
}

.intro {
  position: relative;
  height: 358px;
  padding: 75px 0;
  text-align: center;
  background: #e4f1fa url("../img/bg_intro.jpg") no-repeat center -57px;
  background-size: auto;
}

.intro .title-image {
  width: 458px;
  height: 352px;
}

.intro::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 57px;
  background: url("../img/intro_border.png") no-repeat bottom center;
  background-size: 100% 57px;
}

.mainpage-content .title {
  width: 492px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 50px;
  text-align: center;
}

.title h1 {
  margin-bottom: 26px;
}

.title .description{
  line-height: 26px;
}

.main-reason {
  padding-top: 56px;
  padding-bottom: 23px;
}

.main-reason .text-block {
  float: left;
  width: 24.3333%;
  min-height: 176px;
  max-height: 300px;
  padding: 0 4.5%;
  text-align: center;
  color: #ffffff;
}

.bridge-devil .text-block {
  float: right;
}

.main-reason h3 {
  width: 170px;
  margin: 0 auto;
  margin-bottom: 22px;
  color: #ffffff;
}

.text-block .number {
  padding-bottom: 21px;
}

.sedona-city {
  background: #81b3d2 url("../img/sedona-city.jpg") no-repeat right center;
  background-size: 66.6666% auto;
}

.bridge-devil {
  padding-top: 57px;
  background: #81b3d2 url("../img/bridge-devil.jpg") no-repeat left center;
  background-size: 66.6666% auto;
}

.features {
  padding: 60px 0;
}

.features .text-block {
  float: left;
  width: 25.3333%;
  min-height: 210px;
  padding: 0 4%;
  text-align: center;
}

.features .text-block:nth-child(3) {
  width: 22.3333%;
  padding: 0 5.5%;
}

.features img {
  max-width: 75px;
  height: 72px;
  margin-bottom: 25px;
}

.features h3 {
  margin-bottom: 24px;
}

.other-reasons {
  padding-top: 50px;
  padding-bottom: 37px;
  background-color: #eeeeee;
}

.other-reasons .text-block {
  float: left;
  width: 22%;
  min-height: 170px;
  padding: 0 5.6666%;
  text-align: center;
}

.other-reasons h3 {
  width: 145px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.other-reasons .number{
  padding-bottom: 20px;
}

/*Форма поиска отелей*/
.search-hotel {
  position: relative;
  padding-top: 54px;
  line-height: 24px;
  text-align: center;
}

.btn-open-form {
  position: relative;
  z-index: 5;
  display: inline-block;
  vertical-align: top;
  width: 558px;
  margin-top: 47px;
  padding: 31px 5px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.window-form {
  display:none;

  position: absolute;
  left: 50%;
  z-index: 2;
  width: 460px;
  margin-left: -284px;
  padding: 53px 0;
  padding-left: 56px;
  padding-right: 54px;
  font-weight: bold;
  font-size: 0;
  line-height: 26px;
  text-align: left;
  background-color: #ffffff;
  -webkit-animation: none;
          animation: none;
}

.window-form-open {
  display: block;
}

.window-form-slide{
  -webkit-animation: slide 0.6s;
          animation: slide 0.6s;
}

.no-js {
  display: block;
}

@-webkit-keyframes slide {
  0% { -webkit-transform: translateY(-80px); transform: translateY(-80px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes slide {
  0% { -webkit-transform: translateY(-80px); transform: translateY(-80px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

.window-form-error  {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

@-webkit-keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

@keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

input[type="text"]::-webkit-input-placeholder {
  color: #000000;
}

input[type="text"]::-moz-placeholder {
  color: #000000;
}

input[type="text"]:-moz-placeholder {
  color: #000000;
}

input[type="text"]:-ms-input-placeholder {
  color: #000000;
}

.window-form label {
  display:inline-block;
  vertical-align: baseline;
  width: 105px;
  padding-right: 7px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.window-form label.date {
  position: relative;
}

.window-form label.child {
  width: 60px;
  margin-left: 54px;
  padding-right: 5px;
}

.window-form input {
  height: 28px;
  margin-bottom: 30px;
  padding: 6px 30px 3px 13px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.window-form input.date {
  width: 304px;
  padding-right: 30px;
}

.window-form input.quantity {
  width: 44px;
  padding: 7px 5px 3px 5px;
  text-align: center;
  background-color: #f2f2f2;
}

.window-form input:hover {
  background-color: #ebebeb;
}

.window-form input:active,
.window-form input:focus  {
  background-color: #ffffff;
  outline: 2px solid #f6f6f6;
}

.window-form .calendar {
  position: absolute;
  left: 428px;
  bottom: -7px;
  z-index: 5;
  width: 28px;
  height: 38px;
  background-color: none;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -184px;
  cursor: pointer;
}

.window-form .calendar:hover {
  background-position: -10px -268px;
}

.window-form .calendar:active {
  background-position: -10px -226px;
}

.window-form .btn {
  display: inline-block;
  vertical-align: bottom;
  height: 38px;
  width: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.btn-substract {
  background: #f2f2f2 url("../img/sprite.png") no-repeat -8px -877px;
}

 .btn-add {
  background: #f2f2f2 url("../img/sprite.png") no-repeat -16px -1042px;
}

.btn-substract:hover {
  background: #f2f2f2 url("../img/sprite.png") no-repeat -8px -987px;
}

 .btn-add:hover {
  background: #f2f2f2 url("../img/sprite.png") no-repeat -16px -1152px;
}

.btn-substract:active{
  background: #f2f2f2 url("../img/sprite.png") no-repeat -8px -932px;
}

 .btn-add:active {
  background: #f2f2f2 url("../img/sprite.png") no-repeat -16px -1097px;
}

.btn-search {
  width: 457px;
  margin-top: 24px;
  padding: 17px 0;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  outline: none;
}

.btn-search:hover {
  background-color: #669ec0;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;

}

.map.no-js {
  height: 593px;
  background: #cbdda9 url("../img/map.jpg") no-repeat;
}

.main-footer {
  display: table;
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  word-wrap: break-word;
}

.index-main+.main-footer {
  position: absolute;
  bottom: 0;
}

.main-footer section {
  display: table-cell;
  width: 33.3333%;
  max-width: 0;
  padding: 1% 1%;
  text-align: center;
  vertical-align: middle;
}

.footer-hashtag span {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer-copyright span {
  margin-right: 5px;
  line-height: 26px;
}

.footer-social {
  font-size: 0;
}

.btn-social {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 47px;
  margin: 3px 0;
  margin-left: 5px;
  font-size: 0;
  background: #81b3d2 url("../img/sprite.png") no-repeat;
}

.btn-social:hover {
  background-color: #669ec0;
}

.btn-social:active {
  background-color: #5496bd;
}

.btn-tw {
  background-position: -10px -1209px;
}

.btn-tw:active {
  background-position: -10px -1276px;
}

.btn-fb {
  width: 47px;
  background-position: -10px -568px;
}

.btn-fb:active {
  background-position: -10px -635px;
}

.btn-youtube {
  background-position: -10px -1343px;
}

.btn-youtube:active {
  background-position: -10px -1410px;
}

.logo-html {
  display: inline-block;
  vertical-align: middle;
  width: 113px;
  height: 38px;
  font-size: 0;
  background: url("../img/sprite.png") no-repeat;
  background-position: -10px -702px;
}

.logo-html:hover {
  background-position: -10px -820px;
}

.logo-html:active {
  background-position: -10px -761px;
}

/*Стили для catalog.html */
.filter {
  position: relative;
  padding-top: 28px;
  padding-bottom: 7px;
  color: #ffffff;
  background: #6993ba url("../img/bg_hotels.jpg") no-repeat left center;
  background-size: auto;
}

.choise-1,
.choise-2 {
  float: left;
  width: 229px;
  margin-right: 2%;
}

.choise-1 {
  padding-left: 6%;
}

.choise-2 {
  width: 205px;
}

.filter h3 {
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter input[type="checkbox"] {
  display: none;
}

.choise-1 label,
.choise-2 label {
  position: relative;
  display: block;
  width: 115px;
  margin-bottom: 25px;
  padding-left: 40px;
  cursor: pointer;
}

.choise-2 label {
  padding-left: 44px;
}

.choise-1 label::before ,
.choise-2 label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -10px -316px;
}

input[type="checkbox"] + label:hover::before {
  background-position: -10px -526px;
}


input[type="checkbox"]:disabled + label::before {
  background-position: -10px -484px;
}

input[type="checkbox"]:checked + label::before {
  width: 26px;
  height: 22px;
  background-position: -10px -358px;
}

input[type="checkbox"]:checked + label:hover::before {
  width: 26px;
  height: 22px;
  background-position: -10px -442px;
}

input[type="checkbox"]:checked:disabled + label::before {
  width: 26px;
  height: 22px;
  background-position: -10px -400px;
}

.range-filter {
  float: right;
  text-align: center;
  width: 27.4%;
  padding-right: 6%;
}

.range-filter h3 {
  margin-bottom: 9px;
  text-align: left;
}

.price-controls {
  width: 100%;
  font-size: 0;
  text-align: right;
}

.price-controls input {
  display: inline-block;
  vertical-align: top;
  max-width: 30px;
  font-size: 14px;
  background: none;
  border: none;
}

.min-price,
.max-price {
  display: inline-block;;
  vertical-align: top;
  width: 47.5%;
  height: 21px;
  padding-top: 6px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  border: 2px solid #ffffff;
}

.min-price  {
  position: relative;
  border-right: none;
}

.max-price {
  border-left: none;
}

.min-price::after {
  content: "";
  position: absolute;
  top: 20px;
  right: -2px;
  width: 2px;
  height: 22px;
  margin-top: -15px;
  background-color: #ffffff;
}

.range-controls {
  position: relative;
  padding-top: 7px;
  text-align: right;
}

.range-controls .scale {
  display: inline-block;
  vertical-align: baseline;
  width: 95%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3)
}

.range-controls .bar {
  width: 80.5%;
  height: 2px;
  background-color: #ffffff;
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle:hover {
  background-color: #1c4f80;
}

.range-controls .toggle-max {
  left: 80%;
}

.btn-filter {
  width: 135px;
  min-height: 35px;
  margin-top: 26px;
  padding: 2px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border: 2px solid #ffffff;
}

.sorting {
  padding-top: 32px;
  padding-bottom: 28px;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.search-result {
  float: left;
  min-width: 135px;
  margin-right: 30px;
  padding-left: 6%;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting-by-condition {
  float: left;
  min-width: 420px;
  margin-right: 29px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
}

.sorting-by-condition a {
  display: inline-block;
  vertical-align: top;
  margin-right: 29px;
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-by-condition a:hover {
  color: #81b3d2;
  opacity: 1;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-by-condition a:active {
  color: #000000;
  opacity: 1;
  border: none;
}
.sorting-by-condition .active {
  color: #81b3d2;
  opacity: 1;
  border: none;
}

.sorting-by-condition .title {
  padding-right: 36px;
}

.sorting-by-arrow {
  float: right;
  max-width: 40px;
  padding-right: 6%;
  font-size: 0;
}

.arrow {
  display: inline-block;
  vertical-align: bottom;
  width: 11px;
  height: 13px;
  background: url("../img/sprite.png") no-repeat;
}

.arrow-up {
  margin-right: 12px;
  background-position: -10px -100px;
}

.arrow-up:hover{
  background-position: -10px -160px;
}

.arrow-up:active {
  background-position: -10px -130px;
}

.arrow-down {
  background-position: -10px -10px;
}

.arrow-down:hover {
  background-position: -10px -70px;
}

.arrow-down:active {
  background-position: -10px -40px;
}

.sorting-by-arrow .arrow-up.active {
  background-position: -10px -130px;
}

.sorting-by-arrow .arrow-down.active {
  background-position: -10px -40px;
}

/*Список отелей*/
.hotels-list {
  background-color: #fefefe;
}

.item {
  padding-top: 29px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.item img {
  float: left;
  width: 135px;
  height: 90px;
  margin-right: 30px;
  padding-left: 6%;

}
.item .hotel-info {
  float: left;
  max-width: 700px;
}

.rating-info {
  float: right;
  max-width: 200px;
  padding-right: 6%;
}

.hotel-info .hotel-name {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.item .hotel-name:hover {
  color: #81b3d2;
}

.item .hotel-name:active {
  opacity: 0.3;
}

.hotel-info .type,
.hotel-info .price {
  display: inline-block;
  vertical-align: top;
  min-width: 111px;
  max-width: 400px;
  margin-right: 5px;
}

.rating-star {
  text-align: right;
  font-size: 0;
}

.star {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 6px;
  background: url("../img/star.png") no-repeat;
}

.star:last-child {
  margin-right: 0;
}
.no-star {
  background: none;
}

.rating {
  min-width: 83px;
  margin-top: 42px;
  padding: 3px 14px;
  text-align: center;
  background: #f2f2f2;
}

.hotel-info {
  font-size: 0;
}

.more-info .btn,
.info span {
  font-size: 14px;
}

.hotel-info .btn {
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
  margin-right: 5px;
  padding: 3px 17px;
  color: #ffffff;
}

.btn-info {
  background-color: #81b3d2;
}

.btn-info:hover {
  background-color: #669ec0;
}

.btn-info:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.btn-booking {
  color: rgba(255, 255, 255, 0.3);
  background-color: #766357;
}

.btn-booking:hover {
  background-color: #604e43;
}

.btn-booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
